<ion-tabs [class.tab-bar-hidden]="!showTabBar">
  <ion-tab-bar slot="bottom" class="custom-tab-bar" [style.display]="showTabBar ? 'flex' : 'none'">

    <ion-tab-button tab="home" href="/tabs/home">
      <div class="tab-content">
        <div class="icon-wrap">
          <ion-icon name="home-outline" class="icon-default"></ion-icon>
          <ion-icon name="home" class="icon-active"></ion-icon>
        </div>
        <span class="tab-label">Beranda</span>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="courses" href="/tabs/courses">
      <div class="tab-content">
        <div class="icon-wrap">
          <ion-icon name="book-outline" class="icon-default"></ion-icon>
          <ion-icon name="book" class="icon-active"></ion-icon>
        </div>
        <span class="tab-label">Kursus</span>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <div class="tab-content">
        <div class="icon-wrap">
          <ion-icon name="time-outline" class="icon-default"></ion-icon>
          <ion-icon name="time" class="icon-active"></ion-icon>
        </div>
        <span class="tab-label">Riwayat</span>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <div class="tab-content">
        <div class="icon-wrap">
          <ion-icon name="person-outline" class="icon-default"></ion-icon>
          <ion-icon name="person" class="icon-active"></ion-icon>
        </div>
        <span class="tab-label">Profil</span>
      </div>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
